:root{
    --tp-theme-color:#ffcf4e;
    --tp-primary-color:#073d30;
    --tp-primary-color-light:#055c4d;
    --tp-secondary-color:#fe4e15;
    --tp-pink-color:#ff73ae;
    --tp-white-color:#fff;
    --tp-black-color:#000;
}