// @use "../../utils/index.scss" as *;

// @use "./index.scss" as *;

// transition
@mixin tp-transition($args:.3s) { 
    -webkit-transition: $args; 
    -moz-transition: $args; 
    -ms-transition: $args; 
    -o-transition: $args; 
    transition: $args; 
  }