.tp-btn{
    background-color: var(--tp-theme-color);
    padding: 20px 34px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    line-height: 1;
    border-radius: 12px;
    color: var(--tp-primary-color);

    &-white{
        background-color: var(--tp-white-color);
    }

    &:hover{
        
        color: var(--tp-primary-color-light);
    }

    &-text{
        font-size: 15px;
        font-weight: 400;
        color: var(--tp-black-color);
        display: inline-block;
        line-height: 1;
        text-decoration: underline;
        &:hover{
            color: var(--tp-primary-color);
        }
    }
}


   