@use "../utils/." as *;

@for $i from 1 through 20{
    .ml-#{5*$i}{
        margin-left: $i * 5px;
    }

    .mr-#{5*$i}{
        margin-right: $i * 5px;
    }
    .mb-#{5*$i}{
        margin-bottom: $i * 5px;
    }
    .mt-#{5*$i}{
        margin-top: $i * 5px;
    }
}

