// @forward "common";
// @forward "spacing";
// @forward "theme";

h1, h2, h3, h4, h5, h6{
	font-family: var(--tp-font-heading);
	color: var(--tp-heading-color);
	font-weight: 700;
	margin-top: 0px;
	line-height: 1;
}

h1{
	font-size: 48px;
}

h2{
	font-size: 38px;
}

h3{
	font-size: 28px;
}

h4{
	font-size: 24px;
}

h5{
	font-size: 18px;
}

h6{
	font-size: 16px;
}


a{
	text-decoration: none!important;
}